<%- include('header'); -%>
 <div class="content">
    <h1 id="title">Contact Us</h1>
    <div class= "macs">
        <h2 id="macstitle">School of Mathematical and Computer Sciences:</h2>
        <p>+44 (0)131 451 3324</p>
        <p>enquiries@macs.hw.ac.uk</p>
        <p>twitter.com/macshw</p>
    </div>
 </div>
 <br>
<%- include('footer'); -%>